/*
* @Author: MD NOORUL NABI ANSARI
* @Date:   2017-01-31 17:17:04
* @Last Modified by:   nurulnabi
* @Last Modified time: 2017-02-01 23:03:40
*/
 * { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
.form { background: #000; padding: 3px; position:fixed; bottom: 0; width: 70%; }
.txt { border: 0; padding: 10px; width: 100%;  }
.btn { width: 49%; background: rgb(130, 224, 255); border: none; padding: 10px; }
.btn:hover{
	cursor: pointer;
}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
.mine{
	text-align: right;
}
.chatRoom{
	width: 70%;
	height: 100%;
}
#menu{
	width: 100%;
	min-height: 50px;
	background: #cfd8dc;
}

.container{
	display: none;
	width: 100%;
}
.rooms,.usersOnline{
	width: 15%;
	background: #E8E8E8 ;
	height: 700px;
}
.float{
	float: left;
}